{#% trans_default_domain 'BEEUserBundle' %#}

<div class="fos_user_user_show">
    <p>{{ 'Nom d\'utilisateur'|trans }}: {{ user.username }}</p>
    <p>{{ 'Courriel'|trans }}: {{ user.email }}</p>
</div>
