{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Fabrication edit</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fabrication') }}">
            Retour à la liste 
        </a>
    </li>
</ul>
{% endblock %}
