{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Nouvelle Introduction</h3>

    {{ form(form) }}

        <ul class="record_actions">
    <a href="{{path('introduction')}}" class="btn btn-default">Retour à la liste</a>
</ul>
{% endblock %}
