{%extends "::layout.html.twig"%}

{% block window  -%}
<h3>Essaimage</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('essaimage') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
