{%extends "::layout.html.twig"%}

{% block headerTitle %}<h2>{{ headerTitle }}</h2>{% endblock %}

{% block action %}
         <a href="{{path('ajouterruche_delete', {'id': entity.id})}}" class="btn btn-default">Supprimer</a>
         <a href="{{path('ajouterruche')}}" class="btn btn-default">Retour à la liste</a>
      
{% endblock %}
{% block window -%}

    {{ form(edit_form) }}
   
{% endblock %}
