{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Ajouter une nature de récolte</h3>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('naturerecolte') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
