{%extends "::layout.html.twig"%}

{% block action %}

<ul class="record_actions">
    <a href="{{path('inspection_delete', {'id': entity.id})}}" class="btn btn-default">Supprimer</a>
    <a href="{{path('inspection')}}" class="btn btn-default">Retour à la liste</a>
</ul>


{% endblock %}
{% block window  -%}
    {% form_theme edit_form 'BEEBackOfficeBeeeaseBundle:Form:fields.html.twig' %}
    {{ form(edit_form) }}
<input type="number" name="your_awesome_parameter" id="some_id" class="rating" />
{% endblock %}
