{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Source des Colonies </h3>

    <table class="records_list">
        <thead>
            <tr>
                <th>Libelle</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.libelle }}</td>
              <td> <a href="{{path('sourcecolonie_edit', {'id': entity.id})}}" >Editer</a></td>
              <td> <a href="{{path('sourcecolonie_delete', {'id': entity.id})}}" >Supprimer</a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sourcecolonie_new') }}">
                Ajouter
            </a>
        </li>
    </ul>
    {% endblock %}
