{%extends "::layout.html.twig"%}

{% block headerTitle %}<h2>{{ headerTitle }}</h2>{% endblock %}

{% block action %}
        <a href="{{path('reine_delete', {'id': entity.id})}}" class="btn btn-default">Supprimer</a>
        <a href="{{path('reine')}}" class="btn btn-default">Retour à la liste</a>
{% endblock %}

{% block window -%}
<div class="inner-padding">
    {% form_theme edit_form 'BEEBackOfficeBeeeaseBundle:Form:fields.html.twig' %}
    {{ form(edit_form) }}
</div>
{% endblock %}
