{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Ajouter une Race</h3>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('race') }}">
          Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
