{%extends "::layout.html.twig"%}
{% block window -%}
    <h3>Ruche </h3>
    {% form_theme edit_form 'BEEBackOfficeBeeeaseBundle:Form:fields.html.twig' %}
    {{ form(edit_form) }}
   <ul class="record_actions">
        <li>
            <a href="{{ path('ruche') }}">
                <a href="{{path('ruche_delete', {'id': entity.id})}}">Supprimer</a>
                <a href="{{path('ruche')}}" >Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
