{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>TypeAction edit</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('typeaction') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
