{%extends "::layout.html.twig"%}

{% block window  -%}
    <h3>Changement de statut</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('changementstatut') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
