{%extends "::layout.html.twig"%}

{% block action %}
 <ul class="record_actions">
        
            <a href="{{ path('evenement') }}">
                <a href="{{path('evenement_delete', {'id': entity.id})}}" class="btn btn-default">Supprimer</a>
                <a href="{{path('evenement')}}" class="btn btn-default">Retour à la liste</a>
        
    </ul>

{% endblock %}

{% block window  -%}
    <h3>Evènement</h3><br/>

    {{ form(edit_form) }}


{% endblock %}
